@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.container {
    text-align: justify;
}

.CodeMirror * {
    font-family: 'JetBrains Mono', monospace;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}